{% if testimonies|length > 0 %}
<div id="carouselTestimonials" class="reviewsSlider slider-pro">
	<div class="sp-slides">
	{% for testimony in testimonies %}
		<div class="sp-slide flexbox-container">
			<div class="review">
				<h2 class="ui header center aligned">
					<div class="sub header">{{ testimony.content }}</div>
				</h2>
				<div class="ui hidden divider"></div>

				<div class="ui right floated header flexRow inline">
					<div class="ui star rating" data-rating="5" data-max-rating="5" style="pointer-events: none;">
						<i class="icon active"></i><i class="icon active"></i><i class="icon active"></i><i class="icon active"></i><i class="icon active"></i>
					</div>
					<p>{{ testimony.author }}</p>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
</div>
{% endif %}blaaaaaaaaaaaaaaa

