{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
<h2 class="ui horizontal section divider header">
    {{ 'sylius.ui.latest_prod'|trans }}
</h2>
{{ render(url('sylius_shop_partial_product_index_latest', {'count': 4, 'template': '@SyliusShop/Product/_horizontalList.html.twig'})) }}
{#{{ include('Shop/Testimony/_carouselList.html.twig') }}#}

    <div class="ui hidden divider"></div>

    <div class="ui grid">
        <div class="sixteen wide column">
            <h2 class="ui header center aligned">{{ 'app.ui.reviews'|trans|raw }}</h2>

            {{ render(url('app_shop_partial_testimony_index', {'template': 'Shop/Testimony/_carouselList.html.twig'})) }}

            <!--<div class="ui hidden divider"></div>
            <div class="ui horizontal section centered header">
                <div class="ui right aligned header">
                    <a href="#" class="ui large primary button"><i class="add circle icon"></i>Add review</a>
                </div>
            </div>-->
        </div>
    </div>
    {{ render(url('app_shop_partial_testimony_index', {'template': 'Shop/Testimony/_carouselList.html.twig'})) }}
{% endblock %}
